

.statistics-container{
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(180px, 1fr));
    grid-gap: 30px;
}
.brand-container{
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(120px, 1fr));
    grid-gap: 20px;
}
.team-container{
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 30px;
}